:host {
  max-width: 80%;

  .flashcard-container {
    // width: 80%;
    //   width: 50em;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    .arrow-container {
      display: flex;
      justify-content: center;
      margin-top: 15px;
    }
  }
}
